*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background-color: rgb(65, 64, 64);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 15px solid rgb(51, 51, 172);
    width: 90vw;
    height: 90vh;
    background-color: rgb(34, 33, 33);
    position: relative;
    z-index: 0;
}

.circle,
.bar-left,
.bar-right{
    position: absolute;
    z-index: 2;
}

.bar-left,
.bar-right{
    width: 15px;
    height: 100px;
}

.bar-left{
    background-color: brown;
    top: 0;
    left: 0;
    /* animation-name: down-0-to-75; */
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.bar-right{
    background-color: peru;
    bottom: 0;
    right: 0;
    /* animation-name: up-75-to-0; */
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    top: 25px;
    left: 15px;
    /* animation-name: up-right-circle-25-to-0; */
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* animation-direction: alternate;
    animation-iteration-count: infinite; */
}

@keyframes lc-0-to-0{ 
    from{
        left: 15px;
        top: 25px;
    }
    to{
        left: calc(100% - 65px);
    }
}

@keyframes lc-0-to-25{ 
    from{
        left: 15px;
        top: 25px;
    }
    to{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
}

@keyframes lc-0-to-50{ 
    from{
        left: 15px;
        top: 25px;
    }
    to{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
}

@keyframes lc-0-to-75{
    from{
        left: 15px;
        top: 25px;
    }
    to{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
}

@keyframes lc-0-to-100{
    from{
        left: 15px;
        top: 25px;
    }
    to{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
}

@keyframes lc-25-to-0{
    from{
        left: 15px;
        top: calc(25% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: 25px;
    }
}

@keyframes lc-25-to-25{
    from{
        left: 15px;
        top: calc(25% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
}

@keyframes lc-25-to-50{
    from{
        left: 15px;
        top: calc(25% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
}

@keyframes lc-25-to-75{
    from{
        left: 15px;
        top: calc(25% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
}

@keyframes lc-25-to-100{
    from{
        left: 15px;
        top: calc(25% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
}

@keyframes lc-50-to-0{
    from{
        left: 15px;
        top: calc(50% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: 25px;
    }
}

@keyframes lc-50-to-25{
    from{
        left: 15px;
        top: calc(50% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
}

@keyframes lc-50-to-50{
    from{
        left: 15px;
        top: calc(50% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
}

@keyframes lc-50-to-75{
    from{
        left: 15px;
        top: calc(50% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
}

@keyframes lc-50-to-100{
    from{
        left: 15px;
        top: calc(50% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
}

@keyframes lc-75-to-0{
    from{
        left: 15px;
        top: calc(75% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: 25px;
    }
}

@keyframes lc-75-to-25{
    from{
        left: 15px;
        top: calc(75% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
}

@keyframes lc-75-to-50{
    from{       
        left: 15px;
        top: calc(75% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
}

@keyframes lc-75-to-75{
    from{
        left: 15px;
        top: calc(75% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
}

@keyframes lc-75-to-100{
    from{
        left: 15px;
        top: calc(75% - 25px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
}

@keyframes lc-100-to-100{
    from{
        left: 15px;
        top: calc(100% - 75px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
}

@keyframes lc-100-to-75{
    from{
        left: 15px;
        top: calc(100% - 75px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
}

@keyframes lc-100-to-50{
    from{
        left: 15px;
        top: calc(100% - 75px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
}

@keyframes lc-100-to-25{
    from{
        left: 15px;
        top: calc(100% - 75px);
    }
    to{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
}

@keyframes lc-100-to-0{
    from{
        left: 15px;
        top: calc(100% - 75px);
    }
    to{
        left: calc(100% - 65px);
        top: 25px;
    }
}

@keyframes rc-0-to-0{ 
    from{
        left: calc(100% - 65px);
        top: 25px;
    }
    to{
        left: 15px;
    }
}


@keyframes rc-0-to-25{ 
    from{
        left: calc(100% - 65px);
        top: 25px;
    }
    to{
        left: 15px;
        top: calc(25% - 25px);
    }
}

@keyframes rc-0-to-50{ 
    from{
        top: 25px;
        left: calc(100% - 65px);
    }
    to{
        left: 15px;
        top: calc(50% - 25px);
    }
}

@keyframes rc-0-to-75{
    from{
        left: calc(100% - 65px);
        top: 25px;
    }
    to{
        left: 15px;
        top: calc(75% - 25px);
    }
}

@keyframes rc-0-to-100{
    from{
        left: calc(100% - 65px);
        top: 25px;
    }
    to{
        left: 15px;
        top: calc(100% - 75px);
    }
}

@keyframes rc-25-to-0{
    from{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
    to{
        left: 15px;
        top: 25px;
    }
}

@keyframes rc-25-to-25{
    from{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
    to{
        left: 15px;
        top: calc(25% - 25px);
    }
}

@keyframes rc-25-to-50{
    from{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
    to{
        left: 15px;
        top: calc(50% - 25px);
    }
}

@keyframes rc-25-to-75{
    from{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
    to{
        left: 15px;
        top: calc(75% - 25px);
    }
}

@keyframes rc-25-to-100{
    from{
        left: calc(100% - 65px);
        top: calc(25% - 25px);
    }
    to{
        left: 15px;
        top: calc(100% - 75px);
    }
}

@keyframes rc-50-to-0{
    from{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
    to{
        left: 15px;
        top: 25px;
    }
}

@keyframes rc-50-to-25{
    from{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
    to{
        left: 15px;
        top: calc(25% - 25px);
    }
}

@keyframes rc-50-to-50{
    from{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
    to{
        left: 15px;
        top: calc(50% - 25px);
    }
}

@keyframes rc-50-to-75{
    from{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
    to{
        left: 15px;
        top: calc(75% - 25px);
    }
}

@keyframes rc-50-to-100{
    from{
        left: calc(100% - 65px);
        top: calc(50% - 25px);
    }
    to{
        left: 15px;
        top: calc(100% - 75px);
    }
}

@keyframes rc-75-to-0{
    from{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
    to{
        left: 15px;
        top: 25px;
    }
}

@keyframes rc-75-to-25{
    from{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
    to{
        left: 15px;
        top: calc(25% - 25px);
    }
}

@keyframes rc-75-to-50{
    from{       
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
    to{
        left: 15px;
        top: calc(50% - 25px);
    }
}

@keyframes rc-75-to-75{
    from{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
    to{    
        left: 15px;
        top: calc(75% - 25px);
    }
}

@keyframes rc-75-to-100{
    from{
        left: calc(100% - 65px);
        top: calc(75% - 25px);
    }
    to{
        left: 15px;
        top: calc(100% - 75px);
    }
}

@keyframes rc-100-to-100{
    from{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
    to{
        left: 15px;
        top: calc(100% - 75px);
    }
}

@keyframes rc-100-to-75{
    from{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
    to{
        left: 15px;
        top: calc(75% - 25px);
    }
}

@keyframes rc-100-to-50{
    from{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
    to{
        left: 15px;
        top: calc(50% - 25px);
    }
}

@keyframes rc-100-to-25{
    from{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
    to{
        left: 15px;
        top: calc(25% - 25px);
    }
}

@keyframes rc-100-to-0{
    from{
        left: calc(100% - 65px);
        top: calc(100% - 75px);
    }
    to{
        left: 15px;
        top: 25px;
    }
}

@keyframes bar-0-to-0{
    from{top: 0;}
    to{top: 0;}
}

@keyframes bar-0-to-25{
    from{top: 0;}
    to{top: calc(25% - 50px);}
}

@keyframes bar-0-to-50{
    from{top: 0;}
    to{top: calc(50% - 50px);}
}

@keyframes bar-0-to-75{
    from{top: 0;}
    to{top: calc(75% - 50px);}
}

@keyframes bar-0-to-100{
    from{top: 0;}
    to{top: calc(100% - 100px);}
}

@keyframes bar-25-to-25{
    from{top: calc(25% - 50px);}
    to{top: calc(25% - 50px);}
}

@keyframes bar-25-to-50{
    from{top: calc(25% - 50px);}
    to{top: calc(50% - 50px);}
}

@keyframes bar-25-to-75{
    from{top: calc(25% - 50px);}
    to{top: calc(75% - 50px);}
}

@keyframes bar-25-to-100{
    from{top: calc(25% - 50px);}
    to{top: calc(100% - 100px);}
}

@keyframes bar-50-to-50{
    from{top: calc(50% - 50px);}
    to{top: calc(50% - 50px);}
}

@keyframes bar-50-to-75{
    from{top: calc(50% - 50px);}
    to{top: calc(75% - 50px);}
}

@keyframes bar-50-to-100{
    from{top: calc(50% - 50px);}
    to{top: calc(100% - 100px);}
}

@keyframes bar-75-to-75{
    from{top: calc(75% - 50px);}
    to{top: calc(75% - 50px);}
}

@keyframes bar-75-to-100{
    from{top: calc(75% - 50px);}
    to{top: calc(100% - 100px);}
}

@keyframes bar-100-to-100{
    from{top: calc(100% - 100px);}
    to{top: calc(100% - 100px);}
}

@keyframes bar-100-to-75{
    from{top: calc(100% - 100px);}
    to{top: calc(75% - 50px);}
}

@keyframes bar-100-to-50{
    from{top: calc(100% - 100px);}
    to{top: calc(50% - 50px);}
}

@keyframes bar-100-to-25{
    from{top: calc(100% - 100px);}
    to{top: calc(25% - 50px);}
}

@keyframes bar-100-to-0{
    from{top: calc(100% - 100px);}
    to{top: 0}
}

@keyframes bar-75-to-50{
    from{top: calc(75% - 50px);}
    to{top: calc(50% - 50px);}
}

@keyframes bar-75-to-25{
    from{top: calc(75% - 50px);}
    to{top: calc(25% - 50px);}
}

@keyframes bar-75-to-0{
    from{top: calc(75% - 50px);}
    to{top: 0}
}

@keyframes bar-50-to-25{
    from{top: calc(50% - 50px);}
    to{top: calc(25% - 50px);}
}
@keyframes bar-50-to-0{
    from{top: calc(50% - 50px);}
    to{top: 0}
}

@keyframes bar-25-to-0{
    from{top: calc(25% - 50px);}
    to{top: 0}
}